Ejercicio Node-Red flow 6/flows.json
[
    {
        "id": "5eec494a7b4a181b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a6e2dfa8b136418f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "11a715b4500854b1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "9dc23c3c438fe528",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d8b63f9a305130a",
        "type": "tab",
        "label": "Flow 6",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "255f3242544c5518",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d64e876c602acc1e",
        "type": "ui_tab",
        "name": "Flow 3: Fecha",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66d84f079208ae62",
        "type": "ui_group",
        "name": "Fecha",
        "tab": "d64e876c602acc1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b72cf12dea5faba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ccb61228b61756b",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "c4c1c11fc262b133",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "075bd537e37621d0",
        "type": "ui_group",
        "name": "Gráfica",
        "tab": "c4c1c11fc262b133",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cf4394e3811019a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7b77f7a0455c993d",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "c4c1c11fc262b133",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ff6780d6ae50d53",
        "type": "ui_group",
        "name": "Gráfica",
        "tab": "c4c1c11fc262b133",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4c1c11fc262b133",
        "type": "ui_tab",
        "name": "Clima local",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "abf8717f2990c6ea",
        "type": "ui_group",
        "name": "Local",
        "tab": "d383a881e1cc9dd4",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1868b0174764182",
        "type": "mqtt-broker",
        "name": "Broker Público",
        "broker": "52.57.47.134",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b45fd2a374b39e3",
        "type": "ui_group",
        "name": "Colaborativo",
        "tab": "d383a881e1cc9dd4",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d383a881e1cc9dd4",
        "type": "ui_tab",
        "name": "Clima API MySQL Colaborativo",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "30c15c85f5d3822c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "mysql",
        "port": "3306",
        "db": "cursoIoT",
        "tz": "-06:00",
        "charset": "UTF8"
    },
    {
        "id": "e750f71a9b054134",
        "type": "inject",
        "z": "5eec494a7b4a181b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "1aecd709addf04e7"
            ]
        ]
    },
    {
        "id": "1aecd709addf04e7",
        "type": "debug",
        "z": "5eec494a7b4a181b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "c2d0162caa58de29",
        "type": "inject",
        "z": "a6e2dfa8b136418f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "4963227f40325cad"
            ]
        ]
    },
    {
        "id": "4963227f40325cad",
        "type": "function",
        "z": "a6e2dfa8b136418f",
        "name": "function 1",
        "func": "// Lo que está después de \"//\" son comentarios\n// Crea un objeto Date a partir del msg.payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al siguiente nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "7f1a4746724c21e6"
            ]
        ]
    },
    {
        "id": "7f1a4746724c21e6",
        "type": "debug",
        "z": "a6e2dfa8b136418f",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "80d6aff566cc3279",
        "type": "inject",
        "z": "11a715b4500854b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "c08b661c49954b41"
            ]
        ]
    },
    {
        "id": "c08b661c49954b41",
        "type": "function",
        "z": "11a715b4500854b1",
        "name": "function 1",
        "func": "// Lo que está después de \"//\" son comentarios\n// Crea un objeto Date a partir del msg.payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al siguiente nodo\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "71b0dafe76e3fc18",
                "8016d380a4012f4e"
            ]
        ]
    },
    {
        "id": "71b0dafe76e3fc18",
        "type": "debug",
        "z": "11a715b4500854b1",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "8016d380a4012f4e",
        "type": "ui_text",
        "z": "11a715b4500854b1",
        "group": "66d84f079208ae62",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Fecha y hora actual ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "e81160f64afd1a6d",
        "type": "mqtt in",
        "z": "9dc23c3c438fe528",
        "name": "",
        "topic": "codigoIoT/mqtt/clima",
        "qos": "0",
        "datatype": "utf8",
        "broker": "1cf4394e3811019a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "5fc422b36ea036c1",
                "4feca13514cbcf9c"
            ]
        ]
    },
    {
        "id": "5fc422b36ea036c1",
        "type": "json",
        "z": "9dc23c3c438fe528",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "32a39d231fc5e2a6",
                "c9f24855396bef27"
            ]
        ]
    },
    {
        "id": "32a39d231fc5e2a6",
        "type": "function",
        "z": "9dc23c3c438fe528",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 120,
        "wires": [
            [
                "78c748f29385bad5",
                "bde84467e0641805"
            ]
        ]
    },
    {
        "id": "c9f24855396bef27",
        "type": "function",
        "z": "9dc23c3c438fe528",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "307407065e595996",
                "bde84467e0641805"
            ]
        ]
    },
    {
        "id": "78c748f29385bad5",
        "type": "ui_gauge",
        "z": "9dc23c3c438fe528",
        "name": "",
        "group": "7b77f7a0455c993d",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "8",
        "max": "45",
        "colors": [
            "#62a0ea",
            "#26a269",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "24",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "307407065e595996",
        "type": "ui_gauge",
        "z": "9dc23c3c438fe528",
        "name": "",
        "group": "7b77f7a0455c993d",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#5e5c64",
            "#26a269",
            "#e01b24"
        ],
        "seg1": "30",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "bde84467e0641805",
        "type": "ui_chart",
        "z": "9dc23c3c438fe528",
        "name": "",
        "group": "4ff6780d6ae50d53",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c01c28",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4feca13514cbcf9c",
        "type": "debug",
        "z": "9dc23c3c438fe528",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "9c0f26827250d344",
        "type": "mqtt in",
        "z": "4d8b63f9a305130a",
        "name": "",
        "topic": "codigoIoT/mqtt/clima",
        "qos": "0",
        "datatype": "utf8",
        "broker": "1cf4394e3811019a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "031307c1e8e521b1"
            ]
        ]
    },
    {
        "id": "031307c1e8e521b1",
        "type": "json",
        "z": "4d8b63f9a305130a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "73a82c190323398d",
                "b33adc83db3badf4"
            ]
        ]
    },
    {
        "id": "73a82c190323398d",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "c37921394efd8b0d",
                "f144210180dc338f"
            ]
        ]
    },
    {
        "id": "b33adc83db3badf4",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "8f68b891b58fafa2",
                "c37921394efd8b0d"
            ]
        ]
    },
    {
        "id": "f144210180dc338f",
        "type": "ui_gauge",
        "z": "4d8b63f9a305130a",
        "name": "",
        "group": "abf8717f2990c6ea",
        "order": 1,
        "width": 3,
        "height": 4,
        "gtype": "gage",
        "title": "Indicadores",
        "label": "ºC",
        "format": "{{value}}",
        "min": "8",
        "max": "45",
        "colors": [
            "#62a0ea",
            "#26a269",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "24",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "8f68b891b58fafa2",
        "type": "ui_gauge",
        "z": "4d8b63f9a305130a",
        "name": "",
        "group": "abf8717f2990c6ea",
        "order": 2,
        "width": 3,
        "height": 4,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#5e5c64",
            "#26a269",
            "#e01b24"
        ],
        "seg1": "30",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "c37921394efd8b0d",
        "type": "ui_chart",
        "z": "4d8b63f9a305130a",
        "name": "",
        "group": "abf8717f2990c6ea",
        "order": 3,
        "width": 10,
        "height": 4,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c01c28",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "61104f68265896c0",
        "type": "http request",
        "z": "4d8b63f9a305130a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=41.889859&lon=12.492445&units=metric&appid=bc3963fdd5942f88bb986682cd05dc41",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "45db9f35ecf0bac4"
            ]
        ]
    },
    {
        "id": "841365d6caa46f97",
        "type": "inject",
        "z": "4d8b63f9a305130a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "61104f68265896c0"
            ]
        ]
    },
    {
        "id": "45db9f35ecf0bac4",
        "type": "json",
        "z": "4d8b63f9a305130a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "3198da91d228fa8f",
                "1980961be836b27e"
            ]
        ]
    },
    {
        "id": "3198da91d228fa8f",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "Temperatura API",
        "func": "global.set (\"tempAPI\", msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1980961be836b27e",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "Humedad API",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humAPI\", msg.payload);\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "928f3fe82c28c14f",
        "type": "comment",
        "z": "4d8b63f9a305130a",
        "name": "API",
        "info": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "e25935be319b92ac",
        "type": "comment",
        "z": "4d8b63f9a305130a",
        "name": "Local",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "99981403d8897310",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "JSON publico",
        "func": "msg.payload = '{\"id\":\"Sergio Merino, Roma-Italia\",\"temp\":' + global.get(\"tempAPI\")+',\"hum\":' + global.get (\"humAPI\") +'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 500,
        "wires": [
            [
                "87db0ddf2dfebc9b"
            ]
        ]
    },
    {
        "id": "9ec99433d9a11985",
        "type": "comment",
        "z": "4d8b63f9a305130a",
        "name": "Enviador",
        "info": "",
        "x": 140,
        "y": 460,
        "wires": []
    },
    {
        "id": "5f8ad8a1ee497a2b",
        "type": "inject",
        "z": "4d8b63f9a305130a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "99981403d8897310"
            ]
        ]
    },
    {
        "id": "87db0ddf2dfebc9b",
        "type": "mqtt out",
        "z": "4d8b63f9a305130a",
        "name": "",
        "topic": "codigoIoT/mqtt/climaAPI",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1868b0174764182",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "1925f5a20df6d8b3",
        "type": "comment",
        "z": "4d8b63f9a305130a",
        "name": "Escuchador",
        "info": "",
        "x": 150,
        "y": 560,
        "wires": []
    },
    {
        "id": "339276f1a32ca748",
        "type": "mqtt in",
        "z": "4d8b63f9a305130a",
        "name": "",
        "topic": "codigoIoT/mqtt/climaAPI",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f1868b0174764182",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "9b7dce3fc6b6e327"
            ]
        ]
    },
    {
        "id": "9b7dce3fc6b6e327",
        "type": "json",
        "z": "4d8b63f9a305130a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 600,
        "wires": [
            [
                "5ca1dfa9e00a9a54",
                "8c5ab8169037fd55",
                "9647cb3479bdec72"
            ]
        ]
    },
    {
        "id": "5ca1dfa9e00a9a54",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "Temperatura Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 600,
        "wires": [
            [
                "1e96896f8debcfc0"
            ]
        ]
    },
    {
        "id": "8c5ab8169037fd55",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "Humedad Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 660,
        "wires": [
            [
                "b84a7395b574874b"
            ]
        ]
    },
    {
        "id": "1e96896f8debcfc0",
        "type": "ui_chart",
        "z": "4d8b63f9a305130a",
        "name": "",
        "group": "8b45fd2a374b39e3",
        "order": 1,
        "width": 8,
        "height": 8,
        "label": "Temperatura Publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e01b24",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b84a7395b574874b",
        "type": "ui_chart",
        "z": "4d8b63f9a305130a",
        "name": "",
        "group": "8b45fd2a374b39e3",
        "order": 2,
        "width": 8,
        "height": 8,
        "label": "Humedad publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "9647cb3479bdec72",
        "type": "function",
        "z": "4d8b63f9a305130a",
        "name": "Query",
        "func": "msg.topic = \"INSERT INTO clima (nombre,temperatura,humedad) VALUES ('\" + msg.payload.id +\"',\" + msg.payload.temp + \",\" + msg.payload.hum + \");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 720,
        "wires": [
            [
                "1d1ce54955177e43"
            ]
        ]
    },
    {
        "id": "1d1ce54955177e43",
        "type": "mysql",
        "z": "4d8b63f9a305130a",
        "mydb": "30c15c85f5d3822c",
        "name": "",
        "x": 940,
        "y": 720,
        "wires": [
            []
        ]
    }
]